/*flex box in css*/
body{
    text-align: center;
}
div{
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 2px solid black;
}

/*after setting display to flex, now we can use the properties of flexbox*/
/*1) 1st is flexbox direction that can be set to row,column,row-reverse and column-reverse*/
/*2) 2nd one is flex properties for FLEX CONTAINER()*/
#container{
    width: 600px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;   
    flex-direction: row;
    justify-content: space-around; /*alignment along the main axis without affecting the flex-direction
                            /*--it can be set to flex-start, flex-end. center, space-evenly space-around
                             and space-between. */
    flex-wrap: wrap;      /*The flex-wrap property controls whether flex items should wrap to the next line 
                            when they exceed the container's width.*/
    align-content:flex-end; /*alignment of the content along cross-axis*/
}

#box1{
   /* align-self:end;  /*alignment of individual along cross axis*/
}