/*here we apply css color property*/
/*first is by using color names*/
h1{
    color:red;
}
/*setting color using RGB system*/  
h2{
    color: rgb(255,0,255);
}

/*setting color using HEX system*/
h3{
    color:#ff0000
}

/*selectors: */
/*universal selectors: used to apply css to a whole unit or html document*/
*{
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
/*element selector overrides universal selector.The following example shows that 
by using element selector for h3 tag, it ignores the propertu and values assigned by universal selector.*/
h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ID selector*/
#heading{
    color: blue;
}
#paragraph{
    color: green;
}

.myTagClass{
    background-color:#fc032d;
}

/*Text properties such as
1) text-align(center,left,right,start,end),
2) text-decoration(underline,overline,linethrough)
3) font-weight(normal, bold, bolder, lighter) 
4) font-family(times new roman, sans-serif, calibri etc)
5) text-transform(capitalize, uppercase, lowercase, none)
*/
#pre{
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size:medium;
    text-transform: capitalize;
}

#p{
    text-align: center;
    text-decoration: overline;
    font-style: oblique;
    font-family: Arial;
    font-weight: lighter;
    font-size: 19px;
    text-transform: uppercase;
}

/* css box models:
1) width, height
2) border (width,style color)
3) border-radius
4) padding (the space b/w content and the border from inside)
5) margin (space between box and the document barders)
*/

#box1{
    text-align: left;
    background-color: blue;
    width: 150px;
    height: 100px;
    border: 2px solid rgb(152, 16, 9);
    border-radius: 30px;
    padding: 20px 30px;
    margin: 20px
}
#box2{
    text-align: left;
    background-color: red;
    width: 150px;
    height: 100px;
    border: 2px dashed black;
    border-radius: 20%;
    padding: 50px 30px;
    margin:40px;
}

.trafficlight{
    background-color:white;
    border: 2px solid black;
    width:60px;
    height: 200px;
    align-items: center;
    margin: 50px;
}

#red{
    background-color: red;
    width:95%;
    height:33%;
    border: 1px solid black;
    border-radius:50%;
    margin-top:0.2%;
    margin-bottom: 0.2%;

}
#green{
    background-color: green;
    width:95%;
    height:33%;
    border: 1px solid black;
    border-radius:50%;
}

#yellow{
    background-color: yellow;
    width:95%;
    height:33%;
    border: 1px solid black;
    border-radius:50%;
    margin-top:0.2%;
    margin-bottom: 0.2%;
}

#navbar{
    background-color:#003034;
    height: 60px;
    border: 2px solid white;
    
}

button{
    background-color: #f9f904de;
}
#logo{
    color: orange;
}
a{
    margin-right: 150px;
    text-decoration: none;
    color: white;
}

/*Block and inline elements in CSS*/
.box{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 25px;
    padding: 25px;
}
#box-5{
    visibility: hidden;
}


/*relative units in css
1) % (takes the % of size if its parent element)
2) em (takes the font size as multiple of its parent font size)
3) rem ( takes the font size relative to the root element)
4)vh and vw(take width and height relative to the size of screen) 
*/

#parent{
    font-size: 20px;
}
#child{
    font-size: 2em; /*The child's font size will be double of the parent. child=40px and parent=20px)*/
    width: 5em; /*Now the width of child would be double the font size of the child*/
}


/* positions in css:
1) static: default position
2) relative: relative to itself(top, right, bottom, left and z-index work relative to its own position)
3) absolute: positioned relative to its closest positioned ancestor(removed from the flow).
4) fixed: positioned relative to the browser(remover from the flow).
5) sticky: sticks on web scrolling.
6) z-index: decides the stack level of elements.(by default each element's z-index is set to zero).
*/
.innerdiv{
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 1px solid black;
    padding: 20px;
}
#div1{
    background-color: red;
    position: static; 
    /*the following moves will not affect the position because it is set to static)*/
    top: 20px;
    left: 30px;
    right:10px;
    bottom: 40px;
}
#div2{
    background-color: green;
    position: relative;
    top: 30px; /*it will move 30px down relative to the parent div*/
}
#div3{
    background-color: yellow;
    position: absolute;
    bottom: 50px;
    left: 170px;
}
/*background image and background size*/
#div4{
    border: 2px solid green;
}
#practice{
    width: 400px;
    height: 400px;
    background-image: url("dil.jpg");
    background-size: cover;
    position: fixed;
    bottom: 0px;
    right: 0px;
    color: #fc032d;
    border-radius: 10%;
}
